.updatePasswordContainer{
    width:100vw;
    height:100vh;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(3, 0, 28);
    position:fixed;
    top:0%;
    left:0;
}

 .updatePasswordBox{
    background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
 box-shadow: -1px 1px 5px  #0ef,2px  4px 17px #0ef;
    width:25vw;
    height:70vh;
    box-sizing:border-box;
    overflow:hidden;
}


.updatePasswordForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:auto;
    padding:2vmax;
    justify-content: space-evenly;
    height:70%;
    transition: all 0.5s;
}
.updatePasswordForm>div{
    display: flex;
    width:100%;
    align-items: center;
}
.updatePasswordForm>div>input{
    color:rgb(3, 0, 28);
    padding:1vmax 4vmax;
    padding-right:1vmax;
    width:100%;
    box-sizing:border-box;
    box-shadow: -1px 0px 7px #FF48B0, 2px 1px 4px #FF4880;
    border:1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font:300 0.9vmax cursive;
    outline:none;
    background-image: linear-gradient(to left bottom, #b9f3fc, #8ce3ff, #7aceff, #98b1ff, #cb8aff);
}
h2{
    color: #0ef;
    font: 300 2vmax "Acme";
}

.updatePasswordForm>div>svg{
    position:absolute;
    transform: translateX(1vmax);
    font-size:1.6vmax;
    color:rgb(3, 0, 28);
}

.updatePasswordBtn{
    border:none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width:100%;
    padding:0.8vmax;
    cursor:pointer;
    transition:all 0.5s;
    border-radius:4px;
    outline:none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}
.updatePasswordBtn:hover{
    background-color: rgb(179,66,46);
}

@media screen and (max-width:600px){
    .updatePasswordContainer{
        background-color:rgba(3, 0, 28, 1);
    }
    .updatePasswordBox{
        width:90vw;
        height:80vh;
        margin-top: 6vmax;
    }
   
    .updatePasswordForm{
        padding: 5vmax;
    }
    .logiForm>div>input,
    .signUpForm>div>input{
        padding:2.5vmax 5vmax;
        font:300 1.7vmax cursive;
    }
   
    .updatePasswordForm>div>svg{
        font:2.8vmax;
    }
   .updatePasswordForm>a{
        font:500 1.8vmax "Gill Sans";
    }
    #updatePasswordImage>input::file-selector-button{
        height:7vh;
        font:400 1.8vmax cursive;
    };
    .updatePasswordBtn{
        font:300 1.9vmax "Roboto";
        padding:1.8vmax;
    }
}


