.container{
 
     /* background-color:rgba(3, 0, 28, 1) ;  */

display: flex;
flex-direction: row;
height:30vw;
color:rgb(185, 243, 252);
margin-bottom:-7vmax;

}
.container>video{
  /* background-color: rgba(255, 176, 95, 0.9); */
 position:absolute;
 z-index:-1;
 top:0;
 left:0;
 width:100%;
 height:102vh;
 object-fit:fill;
 }
.banner{
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner>p{
    font-size: 30px;
    font-family: 'Satisfy';

}
.banner>h1{
    font-size: 60px;
     font-family: 'Acme';
     color:#DB1A5A;
}
.banner>a>button:hover{
background-color:#6EFACC;
}

.mainButton{
  margin-top: 30px;
    background-color:rgb(185, 243, 252) ;
    border-radius:10px;
    width:100px;
    height:50px;
    color:#DB1A5A;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Satisfy';
    /* border-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px rgb(185, 243, 252) inset;
}
.homeHeading{
    text-align:center;
    border-radius: 30px;;
    font-family:Acme;
    font-size:2vmax;
    border-bottom:solid 7px transparent;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); 
    box-shadow: 2px 1000px 1px #C3CDE6 inset;
    color:#DB1A5A;
     width: 20vmax;
    padding:1vmax;
    margin: 5vmax auto;
  }
  .container2{
    display:flex;
    margin:2vmax auto;
    width:80vw;
     flex-wrap:wrap;
     justify-content: center;
    
  } 
  .cards{
    margin: 0px;
    background-image: linear-gradient(to top, #03001c, #202c43, #3d556d, #5e8298, #82b1c3, #82b1c3, #82b1c3, #82b1c3, #5e8298, #3d556d, #202c43, #03001c);
  }

  .productCard{
    width:14vmax;
    display:flex;
    flex-direction:column;
    text-decoration:none;
    color:rgb(3, 0, 28);
    margin:2vmax;
    transition:all 0.5s;
    padding-bottom:0.5vmax;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;

  }
  .productCard>img{
    height: 50vh;
  }
  .productCard>div{
    margin:0.5vmax;
    display:flex;
    justify-content:flex-start;
    align-items:center;
  }
  .productCardSpan{
    margin:0.5vmax;
    font:300 0.7vmax "Roboto";
  }
  .productCard>p{
    font-family:"Roboto";
    font-size:1.2vmax;
    margin:1vmax 0.5vmax;
    margin-bottom:0;
  }
  .productCard>span{
    margin:0.5vmax,0.5vmax;
    color:tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1vmax;
  }
  .productCard:hover{
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
    box-shadow: -2px 1px 10px  #FF48B0,4px  4px 12px #FF48B0; 
    transform:translateY(-1vmax);
  }


  @media screen and (max-width:600px){
    .container{
    
      height:274vw;
      
    }
    
    .banner>p{
        font-size: 15px;
        font-family: 'Satisfy';
    
    }
    .banner>h1{
        display:flex;
        align-items: flex-end;
        
        font-size: 10px;
         font-family: 'Acme';
         color:#F48484;
    }
    .banner{
        width:40%;
        display:flex;
        flex-direction: column;
        margin-left: 180px;
        justify-content:center;
    }
    
    
    .picture{
        width:20px;
    }

    .productCard>p{
        font-size:1.7vmax;
    }
    .productCard>div{
        margin:0vmax;
        display:block;
    }
    .productCard>span{
        font-size: 1.5vmax;
    }
    .productCard>div>span{
        margin:0 0.5vmax;
        font:300 1vmax "Roboto";
    }
  }


